{% extends 'rango/base.html' %}
    {% load static %}

    {% block title_block %}
        User Profile
    {% endblock %}

    {% block body_block %}
        <h1>User Profile</h1>

        <p>Username: {{ selected_user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Website: {{ user_profile.website }}</p>

        {% if user_profile.picture %}
            <img src="{{ user_profile.picture.url }}" alt="Profile Picture" style="max-width: 200px;">
        {% else %}
            <p>No profile picture available.</p>
        {% endif %}
    {% endblock %}